   <ul>
      {{#each players}}
          {{> batter/batter}}
      
    

<div class="card w-75" style="max-width: 250px;" data-id="{{player_id}}">
  <div class="card-body">
    <h5 class="card-title">#{{jersey_number}} {{player_name}}</h5>
    <p class="card-text">Batting Avg:</p>
    <p class="card-text">Position: {{position}}</p>
    <p class ="card-text">Stance: {{handness}}</p>
    <a href="#" class="btn btn-primary" id = "hitbutton">HIT!</a>
    <a href="#" class="btn btn-primary" id = "outbutton">OUT</a>
  </div>
</div>
{{/each}}
</ul>

