<ul>
  {{#each players}}
  {{> batter/batter}}
  <div class="card w-75" style="max-width: 250px;" data-id="{{player_id}}">
    <div class="card-body">
      <h5 class="card-title">Num:{{jersey_number}} {{player_name}}</h5>
      <p class="card-text">Avg: {{bat_avg}}</p>
      <p class="card-text">Pos: {{position}}</p>
      <p class="card-text">Bats: {{handness}}</p>
     
    </div>
  </div>
  {{/each}}
</ul>